### pivot_table()

In [1]:
import pandas as pd

In [3]:
# 데이터 추가 
data = { 
  'Date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02']
, 'City': ['Seoul', 'Busan', 'Seoul', 'Busan']
, 'Temperature': [5, 7, 3, 6], 'Humidity': [55, 60, 50, 65] 
}

df_first = pd.DataFrame(data)
df_first

         Date   City  Temperature  Humidity
0  2025-01-01  Seoul            5        55
1  2025-01-01  Busan            7        60
2  2025-01-02  Seoul            3        50
3  2025-01-02  Busan            6        65

In [6]:
pd.pivot_table(data=df_first, index='Date'
               , values=['Temperature', 'Humidity'], aggfunc=['mean','max']) #index : group by 대상

               mean                  max
           Humidity Temperature Humidity Temperature
Date
2025-01-01     57.5         6.0       60           7
2025-01-02     57.5         4.5       65           6