## x(범주) / y(범주형)
- 주로 독립성 증명
- 가설
    + 귀무가설 : 관계성 없다.
    + 대립가설 : 관계성 있다. -> 주로 연구원, 분석가가 증명하고 싶은 바

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지

In [3]:
import pandas as pd
df_rentalcars = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
df_rentalcars.head(3)

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0

In [4]:
df_rentalcars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 51304 non-null  int64
 1   type_of_contract   51300 non-null  object
 2   type_of_contract2  51303 non-null  object
 3   channel            51304 non-null  object
 4   datetime           51304 non-null  object
 5   Term               51304 non-null  int64
 6   payment_type       51304 non-null  object
 7   product            51303 non-null  object
 8   amount             51304 non-null  int64
 9   state              51304 non-null  object
 10  overdue_count      51304 non-null  int64
 11  overdue            51302 non-null  object
 12  credit rating      42521 non-null  float64
 13  bank               48544 non-null  object
 14  cancellation       51279 non-null  object
 15  age                40509 non-null  float64
 16  Mileage            40509 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 6.7+ MB

### 분석 내용
- 가상 가설 : 계약 유형에 따른 해약 여부가 달라지는가 ?
    + 귀무 가설 : 계약 유형에 따른 해약 여부가 달라지지 않는다(p-value > 0.05)
    + 대립 가설 : 계약 유형에 따른 해약 여부가 달라진다 (p-value < 0.05)

In [ ]:
df_rentalcars[['cancellation', 'type_of_contract']].value_counts(),

In [7]:
df_rentalcars_pivot = pd.pivot_table(data=df_rentalcars[['cancellation', 'type_of_contract']]
               , index = 'type_of_contract', columns=['cancellation']
                , aggfunc=len)

df_rentalcars_pivot

cancellation         정상   해약
type_of_contract
렌탈                46137  344
멤버십                4231  563

In [5]:
import scipy.stats as stats

In [8]:
# correction=True : 데이터 불균형 완화 param
stats.chi2_contingency(observed=df_rentalcars_pivot)
#dfo 자유도

Chi2ContingencyResult(statistic=3021.9735309482894, pvalue=0.0, dof=1, expected_freq=array([[45658.8007411,   822.1992589],
       [ 4709.1992589,    84.8007411]]))