In [4]:
import pandas as pd
df_rentalcars = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
df_rentalcars.head(3)

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0

In [5]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import seaborn as sns

## 연속형 / 연속형
- 상관계수(correlation coefficient) 확인
    + -1 <= x <= 1 : 0.5 or -0.5 기준(threadhold)
    + -1에 가까우면 반비례, 1에 가까우면 정비례

### 분석
- 가설 : 나이에 따른 마일리지 변화가 있는가 ?
    + 귀무 가설 : 나이에 따른 마일리지 변화가 없다
    + 대립 가설 : 나이에 따른 마일리지 변화가 있다
- 대상 변수 : age, Mileage
- 분석 결과
    + 통계 결론 : 대립 가설 성립
    + 사실 결론 : 나이에 따른 마일리지 변화가 있다.

In [6]:
df_rentalcars[['age', 'Mileage']].isna().sum()

age        10795
Mileage    10795
dtype: int64

In [7]:
df_rentalcars[['age', 'Mileage']].corr()
# 예상은 관계가 있다

              age   Mileage
age      1.000000  0.973281
Mileage  0.973281  1.000000

### 정규 분포 여부 
- age와 Mileage는 정규분포 참조 : 03.univariate.ipynb

### pearson Test 진행

In [8]:
import scipy.stats as stats

In [9]:
stats.pearsonr(df_rentalcars['age'].dropna(),df_rentalcars['Mileage'].dropna())

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

### 비정규 분포(가상) : spearmanr Test
- 분석 결과
    + 통계 결론 : 귀무 가설 성립, 정비례 관계
    + 사실 결론 : 나이에 따른 마일리지 변화가 없다

In [12]:
df_rentalcars_400 = df_rentalcars.dropna()[:400] # 임의 비정규 분포 생성
#df_rentalcars_400
df_rentalcars_400.count()

id                   400
type_of_contract     400
type_of_contract2    400
channel              400
datetime             400
Term                 400
payment_type         400
product              400
amount               400
state                400
overdue_count        400
overdue              400
credit rating        400
bank                 400
cancellation         400
age                  400
Mileage              400
dtype: int64

In [13]:
stats.spearmanr(df_rentalcars_400['age'], df_rentalcars_400['Mileage'])

SignificanceResult(statistic=0.9734492598611446, pvalue=5.68288855390245e-257)