In [1]:
import pandas as pd
df_rentalcars = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
df_rentalcars.head(3)

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0

In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지

## 범주형 / 연속형 
- 연속형 항목 정규 분포이며, 등분산일때

### 예비 가설
- 분석 내용 : channel 중 서비스 방문과 홈쇼핑/방문 에 따른 마일리지 차이가 있는가 ? 
    + 귀무 가설 : 차이가 없다
    + 대립 가설 : 차이가 있다
- 결론 : pvalue=0.977
    + 귀무 가설 성립

In [6]:
conditions = 'channel == "서비스 방문"'
df_rentalcars_channel_first = df_rentalcars.query(conditions).dropna()
len(df_rentalcars_channel_first)

12533

In [7]:
conditions = 'channel == "홈쇼핑/방송"'
df_rentalcars_channel_second = df_rentalcars.query(conditions).dropna()
len(df_rentalcars_channel_second)

11859

### 등분산 검증

In [10]:
import scipy.stats as stats
stats.levene(df_rentalcars_channel_first['Mileage']
             , df_rentalcars_channel_second['Mileage'])
#결과 : 등분산(p-value > 0.04)

LeveneResult(statistic=2.2726910220513883, pvalue=0.13168404708783335)

### 분포 확인 : 범주형 2개인 경우

In [17]:
test_list = [df_rentalcars_channel_first['Mileage']
             , df_rentalcars_channel_second['Mileage']]
stats.ttest_ind(*test_list, equal_var=True) #등분산 경우 동작

TtestResult(statistic=-0.028343600501643834, pvalue=0.9773883382804684, df=24390.0)

### 범주형 3개 이상인 경우

In [14]:
conditions = 'channel == "렌탈총판"'
df_rentalcars_channel_third = df_rentalcars.query(conditions).dropna()
len(df_rentalcars_channel_third)

4266

In [18]:
test_list.append(df_rentalcars_channel_third['Mileage'])
len(test_list)

3

In [19]:
stats.f_oneway(*test_list)

F_onewayResult(statistic=0.005093118700532355, pvalue=0.9949198301383902)